body {
	background-color: black;		
	width: 90%;
	background-color: white;
	margin: auto;
}

header {

}

main {
	display: flex;
	align-content: center;	
}

section {
	width: 25%;
	text-align: center;
}

button {
	display: block;
	margin: 0 auto;
}

.title {
	display: block;
	text-align: center;
	padding: 20px 0px 0px 0px;
	font-family: 'Khula', sans-serif;
	font-size: 34px;
	border-bottom: solid black 4px;
}

.total-cash {
	text-align: right;
	display: block;
	padding: 10px 7px 0px 0px;
	font-family: Verdana, sans-serif;
	font-size: 18px;
	font-weight: 550;
	color: crimson;
}

.cash {
	color: black;
}
